/target/
/logs/
/.apt_generated/
.cache
.history
.classpath
.project
target
.target
.idea
.idea_modules
.settings
.worksheet
*.iml
*.log
*.sc
.DS_Store
.metadata
.classpath
.settings/org.eclipse.jdt.core.prefs
.classpath
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.jdt.core.prefs
.classpath
**/local/
.classpath
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.wst.common.component
.classpath
.factorypath
.project
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.wst.common.component
commit-push.sh
git-delete-history.sh
.idea/
*.iml
